###################
#   Config file   #
###################
USERNAME = youremail@mega.co.nz
PASSWORD = yourpassword

# Create your appkey at https://mega.co.nz/#sdk
APPKEY = MEGASDK

# You can specify a mountpoint here, only absolute paths are supported.
MOUNTPOINT = /tmp/s
